@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@font-face {
    font-family: "Cabinet Grotesk";
    src: url(fonts/CabinetGrotesk-Black.otf);
}
@font-face {
    font-family: "Satoshi";
    src: url(fonts/Satoshi-Medium.otf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Satoshi", sans-serif;
    scroll-behavior: smooth;
}
:root {
    /* colors */
    --clr1: #072D44;
    --clr2: #064469;
    --clr3: #5790AB;
    --clr4: #9CCDD8;
    --clr5: #D0D7E1;
    --banner: #315B8C;
    --white: #F8FBF8;
    --black: #171614;
}
h1 {
    font-family: "Cabinet Grotesk", sans-serif;
    font-size: 5.61rem;
}
h2 {
    font-family: "Cabinet Grotesk", sans-serif;
    font-size: 4.209rem;
}
h3 {
    font-family: "Cabinet Grotesk", sans-serif;
    font-size: 3.157rem;
}
h4 {
    font-family: "Cabinet Grotesk", sans-serif;
    font-size: 2.369rem;
}
h5 {
    font-family: "Cabinet Grotesk", sans-serif;
    font-size: 1.777rem;
}
body { 
    background-color: var(--white);
}

/* navbar */
nav {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 50px;
    z-index: 999;
}
nav .nav-list {
    display: flex;
    gap: 10px;
}
nav .nav-list a, .dropdown-btn {
    color: var(--white);
    text-decoration: none;
    background-color: #064469c1;
    backdrop-filter: blur(3px);
    padding: 10px 15px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    transition: all 0.3s ease-in-out;
}
.dropdown-list a:nth-child(odd) {
    background-color: var(--clr2);
    color: var(--white);
}
.dropdown-list a:nth-child(even) {
    background-color: var(--clr3);
    color: var(--white);
}
nav .nav-list a:hover, .dropdown-btn:hover {
    color: var(--clr1);
    background-color: var(--clr5);
    transform: translateY(-5px);
    box-shadow: 0 10px 5px rgb(0, 0, 0, 0.3);
}
.dropdown {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dropdown .dropdown-list {
    position: absolute;
    border-radius: 0;
    display: none;
    border: 50px solid transparent;
}
.dropdown .dropdown-list a {
    display: block;
    box-shadow: none;
    border-radius: 0;
    padding: 10px 45px 10px 15px;
}
.dropdown .dropdown-list a:hover {
    transform: translateY(0);
}
.dropdown:hover .dropdown-list {
    display: block;
}

/* parallax */
.parallax {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: "stack";
}
.parallax > * {
    grid-area: stack;
    animation: parallax linear;
    animation-timeline: scroll();
}
.parallax > img {
    width: 100%;
}
.parallax > div {
    width: 100%;
}
.parallax__back-element {
    --parallax-speed: 0.5;
    z-index: 1;
    position: absolute;
}
.parallax__front-element {
    --parallax-speed: -0.3;
    z-index: 2;
    position: absolute;
}
.parallax__banner {
    --parallax-speed: 1.5;
    z-index: 3;
    position: absolute;
}
.parallax__crop-img {
    --parallax-speed: -0.5;
    z-index: 4;
    position: absolute;
}
.parallax__light {
    --parallax-speed: -0.5;
    z-index: 5;
    position: absolute;
}
.parallax__person {
    --parallax-speed: 0.3;
    z-index: 6;
    position: absolute;
}
.parallax__medsos {
    --parallax-speed: 0.1;
    z-index: 7;
    position: absolute;
}
.parallax__phone {
    --parallax-speed: 0.3;
    z-index: 8;
}
.parallax__text {
    position: absolute;
    color: var(--white);
    margin-top: 50vh;
    margin-left: 11vw;
    transform: translateY(-50%);
    z-index: 9;
    scale: 1.1;
    --parallax-speed: 1;
    h2 {
        font-family: "Zen Dots", sans-serif;
    }
}
@keyframes parallax {
    to {
        transform: translate(0, calc(var(--parallax-speed) * 1500px));
    }
}

/* banner */
.banner {
    width: 100%;
    background-color: var(--banner);
    overflow: hidden;
} 

/* break */
.break {
    width: 100%;
    height: 50px;
    background-color: var(--clr1);
}

/* content */
.content {
    background-color: var(--white);
    width: 100%;
    color: var(--clr1);
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 50px;
    z-index: 99;
}
.pendahuluan, .pembahasan, .penutup {
    display: flex;
    padding: 50px 100px;
    flex-direction: column;
    gap: 30px;
    h3, h4 { 
        text-align: center;
    }
    hr {
        border: 1.5px solid var(--clr1);
    }
    img {
        width: 500px;
    }
}
.pendahuluan {
    padding: 50px 100px 200px 100px;
}
.pembahasan {
    padding: 50px 100px 200px 100px;
    background: linear-gradient(var(--clr1) 97.5%, var(--white));
    color: var(--white);
    hr {
        border: 1.5px solid var(--white);
    }
}
.penutup {
    padding: 0 100px 50px 100px;
}
.dafpus {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0 50px 100px 50px;
    padding: 50px 50px;
    background-color: var(--clr1);
    color: var(--white);
    h3, h4 { 
        text-align: center;
    }
    hr {
        border: 1.5px solid var(--white);
    }
    ol {
        display: flex;
    }
}
.latar, .tujuan, .manfaat, .pembahasan1, .pembahasan2, .pembahasan3, .pembahasan4, .pembahasan5, .pembahasan6, .kesimpulan, .saran {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
img.sosial {
    width: 100px;
}

/* pembahasan */
.pem-wave {
    position: relative;
    z-index: 99;
}
.wave{
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(img/wave.png);
    background-size: 1000px 100px;
}
.pem-wave .wave#wave1{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}
.pem-wave .wave#wave2{
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave_02 4s linear infinite;
}
.pem-wave .wave#wave3{
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave 3s linear infinite;
}
.pem-wave .wave#wave4{
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave_02 3s linear infinite;
}
@keyframes animateWave{
    0%{
      background-position-x: 1000px;
    }
    100%{
      background-position-x: 0px;
    }
}
@keyframes animateWave_02{
    0%{
      background-position-x: 0px;
    }
    100%{
      background-position-x: 1000px;
    }
}

/* footer */
footer {
    width: 100%;
    padding: 30px 70px;
    background-color: var(--clr3);
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: justify;
    z-index: 99;
}
.vl {
    height: 250px;
    width: 1.5px;
    background-color: var(--white);
}
.left-column {
    width: 65%;
}
.left-column img {
    width: 80px;
}
.medsos {
    display: flex;
    gap: 30px;
    font-size: 1.7rem;
}
.medsos a {
    color: var(--white);
    transition: all 0.3s ease-in-out;
}
.medsos a:hover {
    color: var(--clr2);
    transform: translateY(-3px);
    scale: 1.2;
}